<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name='description' content='dear lord how did you manage to scrape this'>
  <link rel='stylesheet'  href='../static/node_modules/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet'  href='../static/cah-clone.css'>

  <title>CAHCLONE</title>
</head>

<body>

  <div class='text-center m-5'>
    
    <div class='m-4'>
    <h1>CAHCLONE!</h1>
    </div>

    <div class='m-4'>
    <h2>The Cards Against Humanity clone for LAN parties!</h2>
    </div>

    {% if error != None %}
    <p>{{ error }}</p>
    {% endif %}
    <form method='post' action='/login'>

      <div class='form-group p-3'>
        <input name='username' id='username'
         title="alphanumeric characters, numbers, and underscores"
         pattern='( |\w)+' placeholder='Enter your name!'
         required>
        <input type="submit" class="btn btn-secondary" value="login" id='submit'>
      </div>

    </form>
  </div>
</body>
</html>
