<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name='description' content='dear lord how did you manage to scrape this'>
  <link rel='stylesheet'  href='../static/bootstrap-4.3.1-dist/css/bootstrap.min.css'>
  <link rel='stylesheet'  href='../static/cah-clone.css'>

  <title>WAITING FOR READY</title>
</head>

<body>
<script type="application/javascript">
let xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = () =>
{
  if (xhttp.readyState === 4 &&
      xhttp.status === 200 &&
      xhttp.responseText === "READY")
  {
    window.location.replace('/question-phase');
  }
}
setInterval(() =>
{
  console.log("SEND REQUEST");
  xhttp.open("GET", "/ask-if-ready", true);
  xhttp.send();
},1000);
</script>
<div class='text-center m-5'>
  <h1>{{ player }} is ready!</h1>
  <h2>Waiting for all players to be ready</h2>
</div>
</body>
</html>
